# Importing Libraries

In [1]:
import os
import shutil
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split, StratifiedShuffleSplit

# Desing Basic Features

We shall now design the following **Features**:

1. question1_freq = Frequency of question1

2. question2_freq = Frequency of question2

3. quesiton1_len = Length of question1

4. quesiton2_len = Length of question2

5. question1_n_words = Number of words in question1

6. question2_n_words = Number of words in question2

7. len_diff = absoulte value of question1 length - question2 length

8. words_diff = absoulte value of question1 number of words - question2 number of words.

8. words_common = Number of common unique words in Question 1 and Question 2

9. words_share = word_common / (len(quesiton1) + len(question2))

10. frequency_sum = frequency of quesiton1 + frequency of quesiton2

10. frequency_diff = absolute value of frequency of quesiton1 - frequency of quesiton2

We will now design the feature for training data only, later on after we finish modeling based on our training data, we are gonna build similar features in term of test data as well.

In [ ]:
train_data = pd.read_csv("/Data/train_data.csv")

In [ ]:
train_data.head()

       id  ...  is_duplicate
0   84246  ...             1
1   93023  ...             0
2    1134  ...             1
3  112175  ...             0
4  277626  ...             0

[5 rows x 6 columns]

In [ ]:
train_data["question1_len"] = train_data["question1"].str.len()
train_data["question2_len"] = train_data["question2"].str.len()

In [ ]:
train_data.head()

       id    qid1    qid2  ... is_duplicate question1_len  question2_len
0   84246  167321  167322  ...            1            39             41
1   93023  184683  184684  ...            0            46             30
2    1134    2269    2270  ...            1            72             71
3  112175  222414  222415  ...            0            72            148
4  277626  545847  545848  ...            0           153             83

[5 rows x 8 columns]

In [ ]:
q1_words, q2_words = [], []

for i, j in zip(train_data.question1.values, train_data.question2.values):
  q1_words.append(len(i.split(" ")))
  q2_words.append(len(j.split(" ")))

train_data["question1_n_words"] = q1_words
train_data["question2_n_words"] = q2_words

In [ ]:
train_data.head()

       id    qid1  ...  question1_n_words  question2_n_words
0   84246  167321  ...                   8                  9
1   93023  184683  ...                   9                  7
2    1134    2269  ...                  10                 11
3  112175  222414  ...                  15                 26
4  277626  545847  ...                  26                 17

[5 rows x 10 columns]

In [ ]:
train_data["question1_freq"] = train_data.groupby("qid1")["qid1"].transform("count")
train_data["question2_freq"] = train_data.groupby("qid2")["qid2"].transform("count")

In [ ]:
train_data.head()

       id    qid1    qid2  ... question2_n_words  question1_freq  question2_freq
0   84246  167321  167322  ...                  9              1               1
1   93023  184683  184684  ...                  7              1               1
2    1134    2269    2270  ...                 11              1               1
3  112175  222414  222415  ...                 26              1               1
4  277626  545847  545848  ...                 17              1               1

[5 rows x 12 columns]

In [ ]:
train_data[train_data["question1_freq"] > 20]

            id  qid1  ...  question1_freq question2_freq
65576   187946  7863  ...              25              1
97392   364121  7863  ...              25              1
107389  168308  7863  ...              25              1
113129  130973  7863  ...              25              1
126783   49818  7863  ...              25              1
135347  151721  7863  ...              25              1
148306  214462  7863  ...              25              1
153181  272143  7863  ...              25              1
154645  118701  7863  ...              25              1
160967   50027  7863  ...              25              1
162218   63944  7863  ...              25              1
167194  145988  7863  ...              25              1
183043  311355  7863  ...              25              1
183713  349582  7863  ...              25              1
187000   87462  7863  ...              25              1
203715  161275  7863  ...              25              2
208766  266024  7863  ...              25              1
209673  295677  7863  ...              25              1
228288  336015  7863  ...              25              1
228755   32529  7863  ...              25              1
250523  343505  7863  ...              25              1
278096  155059  7863  ...              25              1
301983  136904  7863  ...              25              3
307654  287204  7863  ...              25              1
320163  316307  7863  ...              25              1

[25 rows x 12 columns]

In [ ]:
train_data[train_data["question2_freq"] > 30]

            id    qid1   qid2  ... question1_freq question2_freq  len_diff
1685     94193  186993  65333  ...              1             38        21
13776   225426  444298  65333  ...              1             38        40
18551   303540  596052  65333  ...              1             38        11
30624   246372  485180  65333  ...              1             38        48
53343   169796  335537  65333  ...              1             38        46
60235   115416  228792  65333  ...              1             38        44
65153   186182  367646  65333  ...              1             38        55
67165   124833  247340  65333  ...              1             38         7
75882   231220  455609  65333  ...              1             38        46
78993   330727  648558  65333  ...              1             38        48
100491  385884  754485  65333  ...              1             38        36
111595   86037  170865  65333  ...              1             38        28
118902  265143  521653  65333  ...              1             38        32
128131  232264  457637  65333  ...              1             38        37
129046  279171  548839  65333  ...              1             38        44
144768  304620  598150  65333  ...              1             38        32
148337   32779   65332  65333  ...              1             38        25
164332   72044  143178  65333  ...              1             38        21
173433  302397  593854  65333  ...              1             38        43
176333   34977   69699  65333  ...              1             38        57
178548  320775  629318  65333  ...              1             38        33
192290   83040  164930  65333  ...              1             38        47
208391   35066   69874  65333  ...              1             38        22
226434  212560  419203  65333  ...              1             38        11
239742  133850  265067  65333  ...              1             38        53
240260  278329  547212  65333  ...              1             38        45
245005  399071  779692  65333  ...              1             38        40
246739  178040  351691  65333  ...              1             38        46
261844  206401  407199  65333  ...              1             38        42
262273   96675  191891  65333  ...              1             38        31
268174   99559  197571  65333  ...              1             38        39
283144  379185  741650  65333  ...              1             38        40
285639  396451  774684  65333  ...              1             38        40
286952  237604  468059  65333  ...              1             38        32
288179  302225  593522  65333  ...              1             38        32
293320  227017  447410  65333  ...              1             38        79
303790   35755   71243  65333  ...              1             38        49
317758  307257  603227  65333  ...              1             38        31

[38 rows x 13 columns]

In [ ]:
train_data["len_diff"] = abs(train_data["question1_len"] - train_data["question2_len"])

In [ ]:
train_data.head()

       id    qid1    qid2  ... question1_freq question2_freq  len_diff
0   84246  167321  167322  ...              1              1         2
1   93023  184683  184684  ...              1              1        16
2    1134    2269    2270  ...              1              1         1
3  112175  222414  222415  ...              1              1        76
4  277626  545847  545848  ...              1              1        70

[5 rows x 13 columns]

In [ ]:
train_data["words_diff"] = abs(train_data["question1_n_words"] - train_data["question2_n_words"])

In [ ]:
train_data.head()

       id    qid1    qid2  ... question1_n_words question2_n_words  words_diff
0   84246  167321  167322  ...                 8                 9           1
1   93023  184683  184684  ...                 9                 7           2
2    1134    2269    2270  ...                10                11           1
3  112175  222414  222415  ...                15                26          11
4  277626  545847  545848  ...                26                17           9

[5 rows x 14 columns]

In [ ]:
common_words = []

for i, j in zip(train_data["question1"].values, train_data["question2"].values):

  s1 = set([word.lower() for word in i.split()])
  s2 = set([word.lower() for word in j.split()])

  common_words.append(len(s1 & s2))

train_data["words_common"] = common_words

In [ ]:
train_data.head()

       id    qid1    qid2  ... question2_n_words words_diff  words_common
0   84246  167321  167322  ...                 9          1             5
1   93023  184683  184684  ...                 7          2             3
2    1134    2269    2270  ...                11          1             7
3  112175  222414  222415  ...                26         11             4
4  277626  545847  545848  ...                17          9             6

[5 rows x 15 columns]

In [ ]:
train_data["words_share"] = train_data["words_common"] / (train_data["question1_n_words"] + train_data["question2_n_words"])

In [ ]:
train_data.head()

       id    qid1    qid2  ... words_diff words_common  words_share
0   84246  167321  167322  ...          1            5     0.294118
1   93023  184683  184684  ...          2            3     0.187500
2    1134    2269    2270  ...          1            7     0.333333
3  112175  222414  222415  ...         11            4     0.097561
4  277626  545847  545848  ...          9            6     0.139535

[5 rows x 16 columns]

In [ ]:
train_data["frequency_sum"] = train_data["question1_freq"] + train_data["question2_freq"]
train_data["frequency_diff"] = abs(train_data["question1_freq"] - train_data["question2_freq"])

In [ ]:
train_data.head()

       id    qid1    qid2  ... words_share frequency_sum  frequency_diff
0   84246  167321  167322  ...    0.294118             2               0
1   93023  184683  184684  ...    0.187500             2               0
2    1134    2269    2270  ...    0.333333             2               0
3  112175  222414  222415  ...    0.097561             2               0
4  277626  545847  545848  ...    0.139535             2               0

[5 rows x 18 columns]

In [ ]:
test_data = pd.read_csv("/Data/test_data.csv")

In [ ]:
test_data["question1_len"] = test_data["question1"].str.len()
test_data["question2_len"] = test_data["question2"].str.len()

We can cetrainly put this part of code as a function so we don't have to write it two times but i just do this for clarification.

In [ ]:
q1_words, q2_words = [], []

for i, j in zip(test_data.question1.values, test_data.question2.values):
  q1_words.append(len(i.split(" ")))
  q2_words.append(len(j.split(" ")))

test_data["question1_n_words"] = q1_words
test_data["question2_n_words"] = q2_words

In [ ]:
test_data["question1_freq"] = test_data.groupby("qid1")["qid1"].transform("count")
test_data["question2_freq"] = test_data.groupby("qid2")["qid2"].transform("count")

In [ ]:
test_data["len_diff"] = abs(test_data["question1_len"] - test_data["question2_len"])

In [ ]:
test_data["words_diff"] = abs(test_data["question1_n_words"] - test_data["question2_n_words"])

In [ ]:
common_words = []

for i, j in zip(test_data["question1"].values, test_data["question2"].values):

  s1 = set([word.lower() for word in i.split()])
  s2 = set([word.lower() for word in j.split()])

  common_words.append(len(s1 & s2))

test_data["words_common"] = common_words

In [ ]:
test_data["words_share"] = test_data["words_common"] / (test_data["question1_n_words"] + test_data["question2_n_words"])

In [ ]:
test_data["frequency_sum"] = test_data["question1_freq"] + test_data["question2_freq"]
test_data["frequency_diff"] = abs(test_data["question1_freq"] - test_data["question2_freq"])

In [ ]:
print("Number of Features in train data =", train_data.shape[1])
print("Number of Features in test data =", test_data.shape[1])

Number of Features in train data = 18
Number of Features in test data = 18

In [ ]:
print("The Features we have designed so far is:")
train_data.columns.tolist()[6:]

The Features we have designed so far is:

['question1_len',
 'question2_len',
 'question1_freq',
 'question2_freq',
 'len_diff',
 'question1_n_words',
 'question2_n_words',
 'words_diff',
 'words_common',
 'words_share',
 'frequency_sum',
 'frequency_diff']

From now on we will use compression while exporting our data into csv or even pickle files, this will massively reduce size of features data on disk but it will load a little slower.

In [ ]:
train_data.to_csv("/Data/train_data.csv", index = False, compression = "bz2")
test_data.to_csv("/Data/test_data.csv", index = False, compression = "bz2")